body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(midnightblue, black);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}